* {
  padding: 0;
  box-sizing: border-box;
}

.app-background {
  /* background-color: #779624; */
  background: conic-gradient(from -71deg at 50% 50%, #361752 64.80000257492065deg, #F626C1 223.20000171661377deg, #3A45B3 360deg);
}